body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #02027c;
    background-color: #ccc;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 40px;
    background-color: #02027c;
    cursor: pointer;
    border: 2px solid #2121f2;
}